@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gloria+Hallelujah&family=Manrope:wght@200..800&family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Playwrite+NL+Guides&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #000;
    font-family: "Manrope", serif;
}
.adjustw{
    width: 800px;
    bottom: 0px;
}
.effect:hover{
    background-color: #E7FFC2;
    box-shadow: 4px 4px 0 rgba(0,0,0,1);
    transition: 0.3s;
    .main{
        background-color: #F2FFDD;
    }
}